:root {
  --brand-color: #2196f3;
  --color-studio-btn: #188ce8;
  --color-portfolio: #eeeeee;
  --brand-color-two: #757575;
  --brand-color-three: #ffffff;
  --brand-color-four: black;
  --brand-color-five: #212121;
  --brand-color-six: #2f303a;
  --brand-color-seven: #f5f4fa;
  --brand-color-eight: #ececec;
  --brand-color-nine: #afb1b8;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --footer-socnet-color: rgba(255, 255, 255, 0.1);
  --btn-shadow-portfolio: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-input: rgba(33, 33, 33, 0.2);
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--brand-color-three);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    text-align: start;
  }
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.socialnet {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socialnet__list {
  width: 44px;
  height: 44px;
}

.socialnet__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.menu__container {
  padding: 48px 84px 48px 40px;
}

.heder__mobile {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .heder__mobile {
    display: none;
  }
}

.heder__mobile-svg {
  fill: var(--brand-color-five);
  width: 40px;
  height: 40px;
  transition: color var(--transition);
}
.heder__mobile-svg:hover, .heder__mobile-svg:focus {
  fill: var(--brand-color);
}

.menu__container-nav {
  margin-bottom: 302px;
}

.menu__container-item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.menu__container-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__contacts {
  margin-bottom: 64px;
}

.menu__contacts-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.menu__contacts-list:not(:last-child) {
  padding-bottom: 32px;
}

.menu__socnet-list {
  display: flex;
}

.menu__socnet-item {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--brand-color-three);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu__container.is-open {
  transform: translateX(0);
}

.menu__container-button {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid var(--brand-color-eight);
}

.header__container {
  display: flex;
  align-items: center;
}
.header__container--heder__mobile {
  margin-left: auto;
}

.nav {
  display: flex;
  align-items: center;
}
.nav .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 87px;
}
@media screen and (min-width: 1200px) {
  .nav .logo {
    margin-right: 93px;
  }
}

.logo__dark {
  color: var(--brand-color-four);
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__list :hover, .nav__list :focus {
    color: var(--brand-color);
  }
}
.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  padding-right: 50px;
}

.nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--brand-color-five);
  transition: color var(--transition);
}

.nav__link--current {
  text-decoration: none;
  color: var(--brand-color);
}
.nav__link--current::after {
  content: "";
  width: 50%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
  position: absolute;
  left: 0;
  bottom: -1px;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  .contacts :hover, .contacts :focus {
    color: var(--brand-color);
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row;
    gap: 0px;
  }
}

.contacts__list:not(:last-child) {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .contacts__list:not(:last-child) {
    padding-right: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  padding: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--brand-color-two);
  transition: color var(--transition);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.solutions {
  background: var(--brand-color-six);
  color: var(--brand-color-three);
  padding: 200px 0px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.solutions__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.solutions__title {
  max-width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-color-three);
}

.solutions__button {
  padding: 10px 32px;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--brand-color-three);
  font-weight: 700;
  line-height: 1.9;
  transition: background-color var(--transition);
}
.solutions__button:hover, .solutions__button:focus {
  background: var(--color-studio-btn);
}

.qualities__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qualities__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .qualities__item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.qualities__list {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .qualities__list {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .qualities__list {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .qualities__list {
    width: 270px;
  }
}

.qualities__image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--brand-color-seven);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.qualities__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-five);
}

.qualities__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--brand-color-two);
}

.activity {
  padding-top: 0px;
}

.activity__container {
  display: none;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .activity__container {
    display: flex;
  }
}

.activity__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-five);
}

.activity__item {
  display: flex;
  gap: 30px;
}

.activity__list {
  width: 370px;
}

.activity__cover {
  position: relative;
}

.activity__covertext {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 370px;
  height: 70px;
  transform: translate(0%, -100%);
  background: rgba(47, 48, 58, 0.8);
}

.activity__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background: var(--brand-color-seven);
}

.team__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-color-five);
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
  }
}

.team__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.team__list {
  width: 100%;
  background-color: var(--brand-color-three);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team__list {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    width: 270px;
  }
}

.team__cover {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-color-five);
}

.team__specialty {
  text-align: center;
  padding-bottom: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-color-two);
}

.team-socialnet__link {
  color: var(--brand-color-nine);
  transition: all var(--transition);
}
.team-socialnet__link:hover, .team-socialnet__link:focus {
  background-color: var(--brand-color);
  color: var(--brand-color-three);
}

.socialnet__icon {
  fill: currentColor;
}

.customers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(brand-color-five);
}
@media screen and (min-width: 1200px) {
  .customers__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.customers__item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .customers__item {
    justify-content: space-between;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}

.customers__list {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .customers__list {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__list {
    width: calc((100% - 150px) / 6);
  }
}

.customers__company {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
  width: 100%;
  height: 92px;
  color: var(--brand-color-nine);
  outline: transparent;
  transition: color var(--transition);
}
.customers__company:hover, .customers__company:focus {
  color: var(--brand-color);
}
@media screen and (min-width: 480px) {
  .customers__company {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .customers__company {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__company {
    width: 170px;
  }
}

.customers__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  align-items: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--brand-color-six);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-direction: row;
    justify-content: normal;
    align-items: baseline;
    gap: 0px;
  }
}

.footer__contacts {
  width: 231px;
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.logo__light {
  color: var(--brand-color-three);
}

.footer__address {
  margin-top: 20px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  padding-left: 0px;
  margin-top: 0px;
}
.footer__address .footer__item :hover, .footer__address .footer__item :focus {
  color: var(--brand-color);
}
@media screen and (min-width: 1200px) {
  .footer__item {
    align-items: normal;
  }
}

.footer__map {
  padding-bottom: 9px;
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer__item .footer__map .footer__link {
  color: var(--brand-color-three);
}
.footer__item .footer__link {
  color: var(--footer-address-color);
  transition: color var(--transition);
}

.footer__mail {
  padding-bottom: 9px;
}

@media screen and (min-width: 1200px) {
  .footer__socialnet {
    margin-right: auto;
  }
}

.footer__socialtitle {
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--brand-color-three);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__socialtitle {
    text-align: start;
  }
}

.footer-socialnet__link {
  color: var(--brand-color-three);
  background: var(--footer-socnet-color);
  transition: all var(--transition);
}
.footer-socialnet__link:hover, .footer-socialnet__link:focus {
  background-color: var(--brand-color);
  color: var(--brand-color-three);
}

.subscription {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscription {
    width: 570px;
  }
}

.subscription__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color-three);
}
@media screen and (min-width: 1200px) {
  .subscription__title {
    text-align: start;
  }
}

.subscription__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    flex-direction: row;
  }
}

.subscription__mail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  padding: 15px 0px 15px 16px;
  color: var(--footer-address-color);
  background: var(--brand-color-six);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  outline: transparent;
  transition: border var(--transition);
}
.subscription__mail:hover, .subscription__mail:focus {
  border: 1px solid rgb(24, 140, 232);
}
@media screen and (min-width: 768px) {
  .subscription__mail {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__mail {
    width: 358px;
  }
}

.subscription__button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--brand-color-three);
  transition: background-color var(--transition);
}
.subscription__button:hover, .subscription__button:focus {
  background: var(--color-studio-btn);
}

.subscription__icon {
  fill: var(--brand-color-three);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity var(--transition), visibility var(--transition);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background: var(--brand-color-three);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: var(--brand-color-three);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__icon {
  fill: currentColor;
  transition: fill var(--transition);
}
.modal__close:hover .modal__icon, .modal__close:focus .modal__icon {
  fill: var(--brand-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__cover {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}

.modal__group {
  position: relative;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--brand-color-two);
}

.modal__input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid var(--border-input);
  border-radius: 4px;
  color: var(--brand-color-five);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  outline: transparent;
  transition: border var(--transition);
}
.modal__input:focus, .modal__input:hover {
  border-color: var(--brand-color);
}

.modal__svg {
  fill: currentColor;
  position: absolute;
  pointer-events: none;
  bottom: 11px;
  left: 12px;
  border: none;
  transition: fill var(--transition);
}
.modal__input:focus + .modal__svg, .modal__input:hover + .modal__svg {
  fill: var(--brand-color);
}

.modal__textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid var(--border-input);
  border-radius: 4px;
  color: var(--brand-color-five);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  outline: transparent;
  transition: border var(--transition);
}
.modal__textarea:focus, .modal__textarea:hover {
  border-color: var(--brand-color);
}
.modal__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__check {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--brand-color-two);
}

.modal__consent {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal__frame {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  outline: none;
  border: 2px solid var(--brand-color-five);
  transition: background-color var(--transition), border var(--transition);
}
.modal__frame:focus {
  border: 2px solid var(--brand-color);
}
.modal__consent:checked + .modal__frame {
  background-color: var(--brand-color);
  border: 2px solid transparent;
}

.modal__image {
  fill: var(--brand-color-three);
}

.modal__link {
  color: var(--brand-color);
}

.modal__button {
  display: block;
  margin: 0 auto;
  padding: 10px 10px;
  width: 200px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--brand-color);
  color: var(--brand-color-three);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition);
}
.modal__button:hover, .modal__button:focus {
  background-color: var(--color-studio-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}

.nav__link--current--portfolio {
  text-decoration: none;
  color: var(--brand-color);
}
.nav__link--current--portfolio::after {
  content: "";
  width: 60%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
  position: absolute;
  left: 0;
  bottom: -1px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .work__list {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .work__list {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .work__list {
    width: 370px;
  }
}

.work__link {
  display: block;
  outline: none;
  transition: box-shadow var(--transition);
}
.work__link:hover, .work__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work__cover {
  position: relative;
  overflow: hidden;
}

.work__covertext {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  background: rgba(33, 150, 243, 0.9);
  transition: transform var(--transition);
}
.work__link:hover .work__covertext, .work__link:focus .work__covertext {
  transform: translateY(0%);
}

.work__text {
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.work__wrapper {
  padding: 20px 24px;
  border: 1px solid var(--color-portfolio);
  border-top: none;
}

.works__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color-five);
}

.works__type {
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--brand-color-two);
}

.basic {
  background: var(--brand-color-three);
}

.basic__item {
  display: flex;
  flex-wrap: wrap;
  width: 326px;
  background: var(--brand-color-three);
  margin-bottom: 40px;
  cursor: pointer;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .basic__item {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    width: auto;
  }
}

.basic__button {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--brand-color-five);
  transition: all var(--transition);
}

.basic__button--current {
  box-shadow: var(--color-portfolio);
  background-color: var(--brand-color);
  color: var(--brand-color-three);
  box-shadow: var(--btn-shadow-portfolio);
  transition: all var(--transition);
}

.basic__list :active,
.basic__list :hover,
.basic__list :focus {
  background: var(--brand-color);
  box-shadow: var(--color-portfolio);
  border-radius: 4px;
  color: var(--brand-color-three);
  box-shadow: var(--btn-shadow-portfolio);
}/*# sourceMappingURL=main.css.map */