body {
    font-family: "Roboto", sans-serif;
    background-color: var(--brand-color-three);
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul,
ol {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}